
*.json

bin/
obj/
*main.cs

0x00-csharp-hello_world/11-concat_edges/11-concat_edges.csproj

0x00-csharp-hello_world/10-copy_cut_paste/10-copy_cut_paste.csproj

0x00-csharp-hello_world/11-concat_edges/11-concat_edges.csproj

0x00-csharp-hello_world/5-print_float/5-print_float.csproj
0x00-csharp-hello_world/8-print_variables/8-print_variables.csproj
0x01-csharp-ifelse_loops_methods/1-last_digit/1-last_digit.csproj

0x02-csharp-arrays_lists_dictionaries/0-print_array/0-print_array.csproj

0x03-csharp-hashset_stack_queue_linkedlist/3-stack_push_pop/3-stack_push_pop.csproj

0x03-csharp-hashset_stack_queue_linkedlist/13-linkedlist_delete/13-linkedlist_delete.csproj

0x03-csharp-hashset_stack_queue_linkedlist/3-stack_push_pop/3-stack_push_pop.csproj

0x03-csharp-hashset_stack_queue_linkedlist/5-print_linkedlist/5-print_linkedlist.csproj
0x03-csharp-hashset_stack_queue_linkedlist/6-linkedlist_length/6-linkedlist_length.csproj

0x03-csharp-hashset_stack_queue_linkedlist/13-linkedlist_delete/13-linkedlist_delete.csproj

0x02-csharp-arrays_lists_dictionaries/0-print_array/0-print_array.csproj

0x01-csharp-ifelse_loops_methods/1-last_digit/1-last_digit.csproj

0x00-csharp-hello_world/9-print_specifiers/9-print_specifiers.csproj

0x00-csharp-hello_world/8-print_variables/8-print_variables.csproj

0x00-csharp-hello_world/5-print_float/5-print_float.csproj

0x00-csharp-hello_world/11-concat_edges/11-concat_edges.csproj

0x00-csharp-hello_world/10-copy_cut_paste/10-copy_cut_paste.csproj
0x05-csharp-structs_enums/3-dog/3-dog.csproj
